apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: ambient-code
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      # Use OpenShift's User Workload Monitoring Prometheus
      - name: Prometheus
        uid: prometheus
        type: prometheus
        access: proxy
        url: https://thanos-querier.openshift-monitoring.svc:9091
        isDefault: true
        editable: false
        jsonData:
          httpHeaderName1: "Authorization"
          tlsSkipVerify: true
          timeInterval: 30s
        secureJsonData:
          # Token will be injected via ServiceAccount
          httpHeaderValue1: "Bearer ${GRAFANA_SA_TOKEN}"
---
# ServiceAccount for Grafana to access OpenShift Prometheus
apiVersion: v1
kind: ServiceAccount
metadata:
  name: grafana
  namespace: ambient-code
---
# ClusterRoleBinding to allow Grafana to query metrics
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: grafana-cluster-monitoring-view
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-monitoring-view
subjects:
- kind: ServiceAccount
  name: grafana
  namespace: ambient-code
